{% load static %}
<!DOCTYPE html>
<html lang="ko">

{% include 'components/head.html' %}

<body>
    {% include 'components/header.html' %}

    
    <div class="main-container">
    {% load static %}

    <!-- 사이드바 -->
        <aside class="sidebar">
            <div class="logo-section">
                <span class="logo-icon">💼</span>
                <h1 class="logo-text">스마트 사업자<br>가계부</h1>
            </div>

            {% block sidebar_nav %}
            {% endblock %}


        </aside>


        <!-- 메인 콘텐츠 -->
        <main class="main-content">
            {% include 'components/messages.html' %}

            <!-- 상단 네비게이션, 이부분 지우고 각 app의 네비로 설정 -->
            <nav class="top-nav">
                {% block top_nav %}
                {% endblock %}
            </nav>

            <!-- 페이지 콘텐츠 -->
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</body>

</html>