{% load static %}

<div class="top-nav-links">
    <a href="{% url 'accounts:home' %}" class="nav-button active">홈</a>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="nav-button">로그아웃</button>
    </form>
    <form method="post" action="{% url 'accounts:password_change' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="nav-button">비밀번호 변경</button>
    </form>
    {% comment %}
    <form method="post" action="{% url 'businesses:account_list' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="nav-button">계좌 목록</button>
    </form>
    {% endcomment %}
    <a href="{% url 'accounts:profile_detail' %}" class="nav-button">프로필 보기</a>
    <a href="{% url 'accounts:profile_edit' %}" class="nav-button">프로필 수정</a>
    {% comment %}
    <a href="{% url 'transactions:vat_report_default' %}" class="nav-button">분기별 보기</a>
    {% endcomment %}

    {% else %}
    <a href="{% url 'accounts:login' %}" class="nav-button">로그인</a>
    <a href="{% url 'accounts:signup' %}" class="nav-button">회원가입</a>
    {% endif %}
</div>